@model IEnumerable<CoffeeSalon.Models.Review>

@{
    ViewData["Title"] = "Home Page";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

<!-- start of banner -->
<div class="banner text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <h1 class="mb-5">Brewed to Perfection<br>  Uncover the Best Coffee Spots Around</h1>
                <ul class="list-inline widget-list-inline">
                    <li class="list-inline-item"><a href="@Url.Action("Index", "Home", new { s = "Brewed Perfection" })">Brewed Perfection</a></li>
					<li class="list-inline-item"><a href="@Url.Action("Index", "Home", new { s = "Caffeine" })">Caffeine</a></li>
                    <li class="list-inline-item"><a href="@Url.Action("Index", "Home", new { s = "Espresso" })">Espresso</a></li>
					<li class="list-inline-item"><a href="@Url.Action("Index", "Home", new { s = "Best Coffee Spots" })">Best Coffee Spots</a></li>
                    <li class="list-inline-item"><a href="@Url.Action("Index", "Home", new { s = "CoffeeReview" })">CoffeeReview</a></li>
                    <li class="list-inline-item"><a href="@Url.Action("Index", "Home", new { s = "Starbucks" })">Starbucks</a></li>
					<li class="list-inline-item"><a href="@Url.Action("Index", "Home", new { s = "Latte" })">Latte</a></li>
					<li class="list-inline-item"><a href="@Url.Action("Index", "Home", new { s = "Cappuccino" })">Cappuccino</a></li>
                    <li class="list-inline-item"><a href="@Url.Action("Index", "Home", new { s = "French Vanilla" })">French Vanilla</a></li>
					<li class="list-inline-item"><a href="@Url.Action("Index", "Home", new { s = "Black Coffee" })">Black Coffee</a></li>
                    <li class="list-inline-item"><a href="@Url.Action("Index", "Home", new { s = "Tim Hortons" })">Tim Hortons</a></li>
					<li class="list-inline-item"><a href="@Url.Action("Index", "Home", new { s = "Tea" })">Tea</a></li>
                </ul>
            </div>
        </div>
    </div>


    <svg class="banner-shape-1" width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.965848 20.6397L0.943848 38.3906L18.6947 38.4126L18.7167 20.6617L0.965848 20.6397Z" stroke="#040306"
        stroke-miterlimit="10" />
        <path class="path" d="M10.4966 11.1283L10.4746 28.8792L28.2255 28.9012L28.2475 11.1503L10.4966 11.1283Z" />
        <path d="M20.0078 1.62949L19.9858 19.3804L37.7367 19.4024L37.7587 1.65149L20.0078 1.62949Z" stroke="#040306"
        stroke-miterlimit="10" />
    </svg>

    <svg class="banner-shape-2" width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_d)">
            <path class="path"
            d="M24.1587 21.5623C30.02 21.3764 34.6209 16.4742 34.435 10.6128C34.2491 4.75147 29.3468 0.1506 23.4855 0.336498C17.6241 0.522396 13.0233 5.42466 13.2092 11.286C13.3951 17.1474 18.2973 21.7482 24.1587 21.5623Z" />
            <path d="M5.64626 20.0297C11.1568 19.9267 15.7407 24.2062 16.0362 29.6855L24.631 29.4616L24.1476 10.8081L5.41797 11.296L5.64626 20.0297Z"
            stroke="#040306" stroke-miterlimit="10" />
        </g>
        <defs>
            <filter id="filter0_d" x="0.905273" y="0" width="37.8663" height="38.1979" filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                <feOffset dy="4" />
                <feGaussianBlur stdDeviation="2" />
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
            </filter>
        </defs>
    </svg>


    <svg class="banner-shape-3" width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.965848 20.6397L0.943848 38.3906L18.6947 38.4126L18.7167 20.6617L0.965848 20.6397Z" stroke="#040306"
        stroke-miterlimit="10" />
        <path class="path" d="M10.4966 11.1283L10.4746 28.8792L28.2255 28.9012L28.2475 11.1503L10.4966 11.1283Z" />
        <path d="M20.0078 1.62949L19.9858 19.3804L37.7367 19.4024L37.7587 1.65149L20.0078 1.62949Z" stroke="#040306"
        stroke-miterlimit="10" />
    </svg>


    <svg class="banner-border" height="240" viewBox="0 0 2202 240" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 123.043C67.2858 167.865 259.022 257.325 549.762 188.784C764.181 125.427 967.75 112.601 1200.42 169.707C1347.76 205.869 1901.91 374.562 2201 1"
        stroke-width="2" />
    </svg>
</div>
<!-- end of banner -->
<section class="section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="border-bottom border-default"></div>
            </div>
        </div>
    </div>
</section>

<section class="section-sm">
    <div class="container">
        <div class="row justify-content-center">
            <aside class="col-lg-4 @@sidebar">
                <!-- Search -->
                <div class="widget">
                    <h4 class="widget-title"><span>Search</span></h4>
                    <form asp-action="Index" asp-controller="Home" class="widget-search">
                        <input class="mb-3" id="search-query" name="s" type="search" placeholder="Type &amp; Hit Enter...">
                        <i class="ti-search"></i>
                        <button type="submit" class="btn btn-primary btn-block">Search</button>
                    </form>
                </div>

                <!-- categories -->
                <div class="widget widget-categories">
                    <h4 class="widget-title"><span>Categories</span></h4>
                    <ul class="list-unstyled widget-list">
                        <li><a href="@Url.Action("Index", "Home", new { s = "Brewed Perfection" })" class="d-flex">Brewed Perfection</a></li>
                        <li><a href="@Url.Action("Index", "Home", new { s = "Caffeine" })" class="d-flex">Caffeine</a></li>
                        <li><a href="@Url.Action("Index", "Home", new { s = "Espresso" })" class="d-flex">Espresso</a></li>
                        <li><a href="@Url.Action("Index", "Home", new { s = "Best Coffee Spots" })" class="d-flex">Best Coffee Spots</a></li>
                        <li><a href="@Url.Action("Index", "Home", new { s = "CoffeeReview" })" class="d-flex">CoffeeReview</a></li>
                        <li><a href="@Url.Action("Index", "Home", new { s = "Starbucks" })" class="d-flex">Starbucks</a></li>
                        <li><a href="@Url.Action("Index", "Home", new { s = "Latte" })" class="d-flex">Latte</a></li>
                        <li><a href="@Url.Action("Index", "Home", new { s = "Cappuccino" })" class="d-flex">Cappuccino</a></li>
                        <li><a href="@Url.Action("Index", "Home", new { s = "French Vanilla" })" class="d-flex">French Vanilla</a></li>
                        <li><a href="@Url.Action("Index", "Home", new { s = "Black Coffee" })" class="d-flex">Black Coffee</a></li>
                        <li><a href="@Url.Action("Index", "Home", new { s = "Tim Hortons" })" class="d-flex">Tim Hortons</a></li>
                        <li><a href="@Url.Action("Index", "Home", new { s = "Tea" })" class="d-flex">Tea</a></li>
                    </ul>
                </div>

                <!-- stars -->
                <div class="widget widget-categories">
                    <h4 class="widget-title"><span>Stars</span></h4>
                    <ul class="list-unstyled widget-list">
                        <li>
                            <a href="@Url.Action("Index", "Home", new { star = "5" })" class="d-flex">
                                <i class="fas fa-star" style="color: gold;"></i>
                                <i class="fas fa-star" style="color: gold;"></i>
                                <i class="fas fa-star" style="color: gold;"></i>
                                <i class="fas fa-star" style="color: gold;"></i>
                                <i class="fas fa-star" style="color: gold;"></i>
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Index", "Home", new { star = "4" })" class="d-flex">
                                <i class="fas fa-star" style="color: gold;"></i>
                                <i class="fas fa-star" style="color: gold;"></i>
                                <i class="fas fa-star" style="color: gold;"></i>
                                <i class="fas fa-star" style="color: gold;"></i>
                            </a>
                        </li>

						<li>
							<a href="@Url.Action("Index", "Home", new { star = "3" })" class="d-flex">
								<i class="fas fa-star" style="color: gold;"></i>
								<i class="fas fa-star" style="color: gold;"></i>
								<i class="fas fa-star" style="color: gold;"></i>
							</a>
						</li>
						<li>
							<a href="@Url.Action("Index", "Home", new { star = "2" })" class="d-flex">
								<i class="fas fa-star" style="color: gold;"></i>
								<i class="fas fa-star" style="color: gold;"></i>
							</a>
						</li>
						<li>
							<a href="@Url.Action("Index", "Home", new { star = "1" })" class="d-flex">
								<i class="fas fa-star" style="color: gold;"></i>
							</a>
						</li>
                    </ul>
                </div>

                <!-- Date -->
                <div class="widget widget-categories">
                    <h4 class="widget-title"><span>Date</span></h4>
                    <ul class="list-unstyled widget-list">
                        <li><a href="@Url.Action("Index", "Home", new { day = "3" })" class="d-flex">last 3 days</a></li>
                        <li><a href="@Url.Action("Index", "Home", new { day = "7" })" class="d-flex">last 1 week</a></li>
						<li><a href="@Url.Action("Index", "Home", new { day = "21" })" class="d-flex">last 3 weeks</a></li>
						<li><a href="@Url.Action("Index", "Home", new { day = "30" })" class="d-flex">last 1 month</a></li>
                        <li><a href="@Url.Action("Index", "Home", new { day = "90" })" class="d-flex">last 3 months</a></li>
                        <li><a href="@Url.Action("Index", "Home", new { day = "180" })" class="d-flex">last 6 months</a></li>
						<li><a href="@Url.Action("Index", "Home", new { day = "365" })" class="d-flex">last 1 year</a></li>
                    </ul>
                </div>

                <!-- Social -->
                <div class="widget">
                    <h4 class="widget-title"><span>Social Links</span></h4>
                    <ul class="list-inline widget-social">
                        <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-twitter-alt"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-github"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-youtube"></i></a></li>
                    </ul>
                </div>
            </aside>
            <div class="col-lg-8 mb-5 mb-lg-0">
                <h2 class="h5 section-title">Recent Reviews</h2>

                @foreach (var review in Model.OrderByDescending(r => r.DatePosted))
                {
                    @if (review?.Image != null && review.Image.Length > 0){

                        <article class="card mb-4">
                            <div class="row card-body">
                                <div class="col-md-4 mb-4 mb-md-0">

                                    <!-- Display Image --> 
                                    @if (review?.Image != null && review.Image.Length > 0) 
                                    { 
                                        <div class="post-slider slider-sm">
                                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(review.Image)" class="card-img" alt="review-thumb" style="height:200px; object-fit: cover;">
                                        </div>
                                    }

                                </div>
                                <div class="col-md-8">
                                    <!-- Title or Review Content -->
                                    <h3 class="h4 mb-3">
                                        <a class="post-title" href="@Url.Action("Detail", "Home", new { id = review?.ReviewId })">
                                            @review?.ItemName
                                        </a>
                                    </h3>

                                    <p class="h5 mb-3">
                                        Category - 
                                        <a class="post-title" href="@Url.Action("Detail", "Home", new { id = review?.ReviewId })">
                                            @review?.Category
                                        </a>
                                    </p>

                                    <ul class="card-meta list-inline">
                                        <li class="list-inline-item">
                                            <a href="@Url.Action("UserDetails", "User", new { username = review?.User?.Username })" class="card-meta-author">
                                                @* <img src="@review?.User?.UserId" alt="User Image">  *@
                                                <span>@review?.User?.Username</span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <i class="ti-calendar"></i> @review?.DatePosted.ToString("dd MMM, yyyy")
                                        </li>
                                    </ul>

                                    <!-- Rating Stars (Full Stars Only) -->
                                    <div class="review-rating mb-2">
                                        @for (var i = 1; i <= 5; i++)
                                        {
                                            @if (i <= review?.Rating)
                                            {
                                                <i class="fas fa-star" style="color: gold;"></i> <!-- Full Star -->
                                            }
                                            else
                                            {
                                                <i class="far fa-star" style="color: gold;"></i> <!-- Empty Star -->
                                            }
                                        }
                                    </div>

                                    <!-- Review Content/Description -->
                                    <div style="height: 100px; overflow:hidden;  margin-bottom: 30px;">
                                        @review?.ReviewText
                                    </div>

                                    <!-- Read More Link -->
                                    <a href="@Url.Action("Detail", "Home", new { id = review?.ReviewId })" class="btn btn-outline-primary">Read More</a>

                                    @if (int.Parse(ViewBag.UserId) == review?.UserId || ViewBag.Role == "admin")
                                    {
                                        <a href="@Url.Action("AddReviewInUser", "Home", new { id = review?.ReviewId })" class="btn btn-outline-primary" style="margin-left: 20px;">Edit</a>
                                    }

                                </div>
                            </div>
                        </article>
                    }
                    else 
                    {
                        <article class="card mb-4">
                            <div class="row card-body">
                                <div class="col-md-12">
                                    <!-- Title or Review Content -->
                                    <h3 class="h4 mb-3">
                                        <a class="post-title" href="@Url.Action("Detail", "Home", new { id = review?.ReviewId })">
                                            @review?.ItemName
                                        </a>
                                    </h3>

                                    <p class="h5 mb-3">
                                        Category - 
                                        <a class="post-title" href="@Url.Action("Detail", "Home", new { id = review?.ReviewId })">
                                            @review?.Category
                                        </a>
                                    </p>

                                    <ul class="card-meta list-inline">
                                        <li class="list-inline-item">
                                            <a href="@Url.Action("UserDetails", "User", new { username = review?.User?.Username })" class="card-meta-author">
                                                <span>@review?.User?.Username</span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <i class="ti-calendar"></i> @review?.DatePosted.ToString("dd MMM, yyyy")
                                        </li>
                                    </ul>

                                    <!-- Rating Stars (Full Stars Only) -->
                                    <div class="review-rating mb-2">
                                        @for (var i = 1; i <= 5; i++)
                                        {
                                            @if (i <= review?.Rating)
                                            {
                                                <i class="fas fa-star" style="color: gold;"></i> <!-- Full Star -->
                                            }
                                            else
                                            {
                                                <i class="far fa-star" style="color: gold;"></i> <!-- Empty Star -->
                                            }
                                        }
                                    </div>

                                    <!-- Review Content/Description -->
                                    <div style="height: 100px; overflow:hidden; margin-bottom: 30px;">
                                        @review?.ReviewText
                                    </div>

                                    <!-- Read More Link -->
                                    <a href="@Url.Action("Detail", "Home", new { id = review?.ReviewId })" class="btn btn-outline-primary">Read More</a>

                                    @if (int.Parse(ViewBag.UserId) == review?.UserId || ViewBag.Role == "admin")
                                    {
                                        <a href="@Url.Action("AddReviewInUser", "Home", new { id = review?.ReviewId })" class="btn btn-outline-primary" style="margin-left: 20px;">Edit</a>
                                    }
                                </div>
                            </div>
                        </article>

                    }   
                }
            </div>
        </div>
    </div>
</section>
